<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openmenu()">
      <ion-button color="light">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end" routerLink="/principal">
      <ion-button color="light">
      
        <ion-icon name="return-up-back-outline"></ion-icon>
        
      </ion-button>
      
    </ion-buttons>
   <ion-title>Asistencia médica</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="fondo">
    <ion-img class="logo" src="assets/img/logoblanco.png"></ion-img>
    <br> 

</div>
 

  
<!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed"  href="https://tawk.to/chat/60ab0984a4114e480ad07be4/1f6e1qbkh?$_tawk_sk=60f1c0cd93e25d6f7c175305&$_tawk_tk=b74f6da378f14b7872fe112ad00672eb&v=698">
  <ion-fab-button color="primary">
   <a href="https://tawk.to/chat/60ab0984a4114e480ad07be4/1f6e1qbkh?$_tawk_sk=60f1c0cd93e25d6f7c175305&$_tawk_tk=b74f6da378f14b7872fe112ad00672eb&v=698"><ion-icon name="call-outline" class="flotante"></ion-icon></a> 
  </ion-fab-button>
</ion-fab> 

<ion-fab vertical="bottom" horizontal="center" slot="fixed"  href="https://tawk.to/chat/60ab0984a4114e480ad07be4/1f6e1qbkh?$_tawk_sk=60f1c0cd93e25d6f7c175305&$_tawk_tk=b74f6da378f14b7872fe112ad00672eb&v=698">
  <ion-fab-button color="primary">
   <a href="https://tawk.to/chat/60ab0984a4114e480ad07be4/1f6e1qbkh?$_tawk_sk=60f1c0cd93e25d6f7c175305&$_tawk_tk=b74f6da378f14b7872fe112ad00672eb&v=698"><ion-icon name="videocam-outline"  class="flotante"></ion-icon></a> 
  </ion-fab-button>
</ion-fab>  -->
</ion-content>
