<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark"  (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>directorio</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="imagen" src="assets/img/logo.png" class="imagen"></ion-img>
  
  <ion-row>
    <ion-col>
      <ion-label class="azul">Teléfonos máster:</ion-label>
      <br>  <br>
      <ion-label  class="azul">(0212) 952.68.29</ion-label>
      <br>  <br>
      <ion-label  class="azul">FAX: (0212) 953.61.70</ion-label>
    </ion-col>

    <ion-col class="gris">
      <ion-label>Atención al Cliente <b> Ext. 200 al 211</b></ion-label>
      <br>
      <br>
      <ion-label>Dpto. Clínicas Contratadas <b>Ext. 163 al 166 </b></ion-label>
      <br>
      <br>
      <ion-label>Dpto. Clínicas Propias <b> Ext. 198 al 199</b></ion-label>
      <br>
      <br>
      <ion-label>Dpto. Auditoría Clínica <b> Ext. 198 al 199</b></ion-label>
    </ion-col>
  </ion-row>
  <br>
  <div class="contacto">
    <div class="centrado">
        <ion-img class="imagen" src="assets/img/icon-asistencia-24.png" class="imgcontacto"></ion-img>
        <ion-label>Asistencia Médica</ion-label>
        <br>
        <ion-label> <b>(0800) 123 4567</b></ion-label>
    </div>
   
  </div>
  <br>
  <div class="blue">
    <div class="atencion"> 
        <ion-label> Centro de atención al cliente</ion-label>
        <br>
        <br>
        <ion-label> <b>0800 ACENTRO (0800 223 68 76)</b></ion-label>
      </div>
      <br>

      <div class="atencion">
         <ion-icon name="location-outline"></ion-icon>
      <br>
      <ion-label> Av. Venezuela Edif.  </ion-label>
      <br>
      <ion-label> Valfer piso  1, Ofi, 1 El Rosal </ion-label>
      <br>
      <ion-label> Caracas Venezuela. </ion-label>
    
      </div>
      <br>

      <div class="atencion2"> 
        <ion-row>
        <ion-col> <div><a href="https://twitter.com/AltoCentro"><ion-icon name="logo-twitter"></ion-icon></a> </div>  </ion-col>
          <ion-col> <div> <a href="https://www.facebook.com/AltoCentro/"><ion-icon name="logo-facebook"></ion-icon></a> </div></ion-col>
          <ion-col><div><a href="https://www.instagram.com/altocentro/"><ion-icon name="logo-instagram"></ion-icon></a> </div></ion-col>
        </ion-row>
        <ion-row>
            <ion-col><a href="https://twitter.com/AltoCentro">@altocentro</a></ion-col>
            <ion-col><a  href="https://www.facebook.com/AltoCentro/">Altocentro</a></ion-col>
            <ion-col><a href="https://www.instagram.com/altocentro/">@altocentro</a></ion-col>
          </ion-row>
       
        
        
      </div>
  </div>
 <div>
  <p class="footer">2014 Grupo de Especialidades Odontologicas Alto Centro, S.C - Todos los derechos reservados | RIF: J-30991480-4</p>
 </div>
 

</ion-content>
