ion-content{
    --ion-background-color: #6dcff6;
}
ion-toolbar{
    --background: #2a388f;
    --color: white;
 
}

ion-icon {
    // color: white;
     font-size: 30px;
     color: whitesmoke;
   }


.atencion{
    
   
    margin-left: 3%;
 
    text-align: left;
   // background-color: cadetblue;
}

.blue{
    background-color: #6dcff6;
    height: auto;
    padding-top: 5%;
  
}

.enviar{
    --background: gray;
  }