ion-content{
    --ion-background-color: #2a388f;
    
}

ion-toolbar{
    --background: #2a388f;
    --color: white;
 
}

ion-icon {
    // color: white;
     font-size: 30px;
     color: whitesmoke;
}

p{
    color: black;
}
ion-label{
    color: white ;
}

.atencion{
    
   
    margin-left: 3%;
 
    text-align: left;
   // background-color: cadetblue;
}

.blue{
    background-color: #2a388f;
    //height: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.card1{
    background-color: #2a388f !important;
}
ion-item{
    --background: #2a388f !important;
    --color: white;
}
div{
    background-color: #2a388f !important;
}

ion-button {
    color: white;
    
}

.imagen{
    margin: 0 auto;
}

.interno{
    margin-left: 10%;
}

.centrar{
    margin: 0 auto;
}
.select{
    max-width: 50% !important;
    width: 50% !important;
}
.lista{
    max-width: 100% !important;
    width: 100% !important;
    min-width: max-content;
}
.texto{
    max-width: 50% !important;
    width: 50% !important;
}
.entrada{
    width: 50% !important;
    max-width: 50% !important;
}